/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}

html {
  font-size: 50.5%;
  font-family: 'Kumbh Sans', sans-serif;
}

@media only screen and (min-width: 520px) {
  html {
    font-size: 54.5%;
  }
}

@media only screen and (min-width: 630px) {
  html {
    font-size: 57.5%;
  }
}

@media only screen and (min-width: 730px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (min-width: 1100px) {
  html {
    font-size: 62.5%;
  }
}


* {
  font-family: 'Kumbh Sans', sans-serif;

}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* semantic color variables for this project */
:root {
  --white: #ffffff;
  --light-grey: #F4F6F8;
  --grey: #9daec2;
  --middle-grey: #86929f;
  --dark-grey: #6b8c93;
  --dark-grey-lower-opacity: rgba(110, 144, 152, .3);

  --violet: #5964E0;
  --middle-violet: #9095d3;
  --light-violet: #939bf4;

  --very-dark-blue: #19202d;
  --midnight: #121721;
  --midnight-light: #1d2433;
  --dark: #03001C;
  --dark-btn: #323042;
  --dark-btn--hover: #53525e;
}

.router-link-exact-active{
  color: var(--violet);
}
.wrapper {
  margin-inline: auto;
  max-width: 145rem;
  background: var(--light-grey);
  min-height: 100vh;
}

body {
  background: var(--white);
}

p {
  font-size: 1.6rem;
  font-weight: 2.6rem;
}

/* dark mode  */
body,
.wrapper {
  transition: all .1s;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
}

body.dark-theme,
.dark-theme .wrapper {
  background: var(--midnight);
  transition: all .1s;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
}