/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Kumbh Sans', sans-serif;
}

* {
  font-family: 'Kumbh Sans', sans-serif;

}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* semantic color variables for this project */
:root {
  --white: #ffffff;
  --light-grey: #F4F6F8;
  --grey: #9daec2;
  --middle-grey: #86929f;
  --dark-grey: #6b8c93;
  --dark-grey-lower-opacity: rgba(110, 144, 152, .3);

  --violet: #5964E0;
  --middle-violet: #9095d3;
  --light-violet: #939bf4;

  --very-dark-blue: #19202d;
  --midnight: #121721;
  --dark: #03001C;
}

.wrapper {
  margin-inline: auto;
  max-width: 145rem;
  background: var(--light-grey);
  min-height: 100vh;
}

body {
  background: var(--white);
}

p {
  font-size: 1.6rem;
  font-weight: 2.6rem;
}

/* dark mode  */
body,
.wrapper {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

body.dark-theme,
.dark-theme .wrapper {
  background: var(--dark);
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}