.job {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-bottom: 6rem;
  padding: 3.5rem 2.4rem;
  background: var(--white);
  position: relative;
  max-width: 45rem;
  max-height: 23.5rem;
  box-shadow: 0.1rem 0.1rem 0.4rem #e2e0e0;
  border-radius: 0.5rem;
  transition: all .2s;
}

.dark-theme .job{
  background: var(--very-dark-blue);
  box-shadow: none;
  transition: all .2s;

}
.job:last-of-type {
  margin-bottom: 2rem;
}

.logo-wrapper {
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.4rem;
  height: 5rem;
  border-radius: 1.5rem;
}

.job__type,
.job__company {
  font-size: 1.7rem;
  color: var(--dark-grey);
  text-transform: capitalize;
}

.dot {
  margin-inline: 1rem;
  font-weight: 800;
  font-size: 3rem;
}

.job__position {
  margin-top: 1.2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark);
  white-space: nowrap;
  letter-spacing: .05rem;
  transition: all .2s;
}
.dark-theme .job__position {
  color: var(--white);
  transition: all .2s;
  
}

.job__company {
  margin-top: 1.2rem;
}

.job__location {
  margin-top: 2.5rem;
  color: var(--violet);
  font-size: 1.5rem;
  font-weight: 600;
}


@media only screen and (min-width: 768px) {
  .job {
    flex-basis: 100%;
    margin: 3rem 0.8rem;
    max-width: 59rem;
  }
  .job:hover{
    box-shadow: 0.4rem 0.4rem 0.4rem #e2e0e0;
  }
  .dark-theme .job:hover{
    box-shadow: 0.1rem 0.1rem 1rem #e2e0e0;
    /* transition: all .2s; */
  }

  .logo-wrapper {
    left: 2.3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .job {
    flex-basis: 100%;
    max-width: 43rem;
    cursor: pointer;
  }

  .job__position {
    font-size: 1.9rem;
  }
}