.switcher {
  margin-top: .7rem;
  display: flex;
  align-items: center;
  height: 2.4rem;
}

.moon {
  color: var(--white);
  font-size: 1.6rem;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-inline: 1.5rem;
  width: 5rem;
  height: 100%;
  background: var(--white);
  transition: all 1s;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.circle {
  margin-inline: .4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: var(--violet);
  transition: all .1s;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
}

.toggle-container:hover .circle{
  background-color: var(--light-violet);
}

.dark-theme .circle {
  transform: translateX(2.5rem);
  transition: all .1s;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
}